:root{
    --main-color:#712525 !important;
    --main-nav-color:#8B2518 !important;
    --main-sidebar-color: #4C0D0D !important;
    --main-sidebar-item-hover: #303030 !important;
}

body{
    background:var(--main-color);
}
.burger_machine_nav{
    height:60px;
    background: var(--main-nav-color);
    color: white;
}

.burger_machine_sidebar{
    background: #4C0D0D !important;
    color: white;
}

.burger_machine_nav_logo{
    height:150px;
    margin:auto;
    margin-top:1rem;
}
.burger_machine_sidebar>ul>li{
    background:  var(--main-sidebar-color);
    color:white
}

.burger_machine_sidebar>ul>li:hover{
    background:  var(--main-sidebar-item-hover);
    color:white;
    cursor:pointer;
}
.burger_machine_sidebar_btn{
    position: absolute;
    bottom:0;
    left:110px;
    font-weight:bold;
    margin-bottom:30px;
    background:#FFD600;
    border-radius:20px;
    width:150px;
}

.table_style_1 {
    background: #FF6D59;
    border: 1px solid #7B3030 !important;
    width: 100%;
    color:white
    
}

.table_style_1 td{
    background: white;
    border: 1px solid #7B3030 !important;
    color:black


}
.table_style_1 table, th, td {
    border: 1px solid #7B3030 !important;
  }

